$primary_color: rgb(6, 48, 11);
$lightblue-btn: rgb(4, 162, 207);
$darkblue-btn: rgb(29, 67, 134);
$lightpink-btn: rgb(242, 92, 107);
$darkpink-btn: rgb(185, 39, 110);
$blue-bg: rgb(10, 24, 81);
$darkblue-bg : rgb(2, 3, 50);
$pink-text: rgb(232, 83, 108);
$grey-text: rgb(153, 148, 148);